.container {
    --radius: 4px !important;
    width: 40% !important;
    height: 63% !important;
    background: rgb(245, 245, 245) !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 35% !important;
    cursor: move !important;
    box-sizing: border-box !important;
    z-index: 100 !important;
    border-radius: var(--radius) !important;
    border: 1px solid rgb(238, 238, 238) !important;
}

.dragging {
    opacity: 0 !important;
}

.container .header {
    width: 100% !important;
    background: #4184f3 !important;
    box-sizing: border-box !important;
    padding: 16px !important;
    border-top-left-radius: var(--radius) !important;
    border-top-right-radius: var(--radius) !important;
}

.header h3 {
    color: #fff !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    margin-bottom: 6px !important;
}

.header h3 span {
    font-size: 0.6rem !important;
}

.market-options {
    font-weight: 300 !important;
    color: #fff !important;
    font-size: 0.8rem !important;
}

.market-options label,
.order-validity label input,
.sub-order-type label,
.sub-order-type label input,
.stop-loss-type label,
.stop-loss-type label input {
    margin-right: 6px !important;
    cursor: pointer !important;
}

.market-options input[type="radio"] {
    border: 1px solid #ddd !important;
    cursor: pointer !important;
    padding: 2px !important;
    margin-right: 6px !important;
}

.tab {
    width: 100% !important;
    box-sizing: border-box !important;
    background-color: #f9f9f9 !important;
    border-bottom: 2px solid rgba(180, 180, 180, 0.6) !important;
}

.tab button {
    border: none !important;
    padding: 14px 16px !important;
    background: transparent !important;
    color: #4184f3 !important;
    font-weight: 400 !important;
    font-size: 0.8rem !important;
    cursor: pointer !important;
}

.regular-order {
    padding: 16px 26px !important;
    background-color: #fff !important;
    padding-bottom: 30px !important;
}

.regular-order label {
    font-size: 0.8rem !important;
    cursor: pointer !important;
}

.order-validity {
    width: 70% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.order-validity label span {
    color: rgb(190, 190, 190) !important;
}

.inputs {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.inputs fieldset {
    max-width: 120px !important;
    box-sizing: border-box !important;
    border: 0.7px solid #ddd !important;
    margin-right: 8px !important;
}

.inputs fieldset legend {
    margin-left: 10px !important;
    font-size: 0.8rem !important;
    padding: 0 4px !important;
}

.inputs fieldset:last-of-type legend {
    color: #ddd !important;
}

.inputs fieldset input {
    border: none !important;
    margin-right: 8px !important;
    max-width: 130px !important;
    min-height: 35px !important;
    padding: 0 12px !important;
    box-sizing: border-box !important;
    font-size: 1.1rem !important;
}

.options {
    width: 100% !important;
    box-sizing: border-box !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.options span {
    color: #4184f3 !important;
    font-size: 0.8rem !important;
    cursor: pointer !important;
}

.buttons {
    width: 100% !important;
    box-sizing: border-box !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    position: relative !important;
    top: 10% !important;
    padding: 0 20px !important;
}

.buttons span {
    font-size: 0.8rem !important;
}

.btn {
    text-decoration: none !important;
    padding: 10px 20px !important;
    border-radius: 2px !important;
    color: #fff !important;
    margin-right: 2px !important;
    margin-left: 2px !important;
}

.btn-grey {
    background: #d4d4d4 !important;
    color: #666666 !important;
}

.btn-blue {
    background: #4184f3 !important;
}

.tab button::after {
    content: "" !important;
    width: 100% !important;
    height: 3px !important;
    display: none !important;
    margin-top: 10px !important;
    background-color: #4184f3 !important;
}

.inputs fieldset:focus {
    outline: none !important;
    border: 0.7px solid rgb(49, 49, 49) !important;
    border-radius: 2px !important;
}

.inputs fieldset input:focus {
    outline: none !important;
}

.inputs fieldset input:disabled {
    cursor: not-allowed !important;
    background-color: transparent !important;
}

.btn-blue:hover {
    background: #74a7fa !important;
}

.btn-grey:hover {
    background: #9b9b9b !important;
    color: #fff !important;
}
